* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(135deg, #1a73e8, #0d47a1);
    color: white;
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}


/* Navigation */
nav {
    padding: 1rem 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: fit-content;
}

nav a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: bold;
    transition: color 0.3s;
}

nav span {
    text-decoration: line-through;
}

nav a:hover {
    color: #0d47a1;
}

/* Main Content */
.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Alliances Section */
.alliances {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    max-width: 100%;
}

.alliances p {
    font-size: 18px;
    color: #0d47a1;
    margin: 0;
}


/* Contact Form */
.contact-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.contact-form h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1a73e8;
}

.contact-form p {
    margin-bottom: 1rem;
    color: #0d47a1;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.inline-labels {
    display: inline-block;
}

#furnace {

}

.contact-form input,
.contact-form textarea,
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 0.5rem 1rem;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0d47a1;
}

/* Footer */
footer {
    background-color: #1a73e8;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {

    header h1 {
        font-size: 2rem;
    }

    nav ul li {
        margin: 1rem;
    }

}