* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(135deg, #1a73e8, #0d47a1);
    color: white;
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}


/* Navigation */
nav {
    padding: 1rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.signupbtn {
    margin: auto;
    border-radius: 8px;
    border: 1px #062f66;
    color: white;
    background-color:  #1a73e8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: fit-content;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.signupbtn:hover {
    background-color: #001535;
}

/* Main Content */
.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Alliances Section */
.alliances {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    max-width: 100%;
}

.alliances p {
    font-size: 18px;
    color: #0d47a1;
    margin: 0;
}


/* Contact Form */
.contact-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.contact-form h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #062f66;
}

.contact-form p {
    margin-bottom: 1rem;
    color: #0d47a1;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #062f66;
}



.contact-form input,
.contact-form textarea,
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 0.5rem 1rem;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0d47a1;
}

#responseMessage {
    margin-top: 1rem;
}

/* Footer */
footer {
    background-color: #1a73e8;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


/* Login pop-up */

.loginpopup {
    display: none;
    height: fit-content;
    width: 35%;
    position: absolute;
    top: 30%;
    left: 35%;
    background: linear-gradient(315deg, #1353b3, #062f66);
    color: white;
    font-size: 1.2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.loginpopup p {
    text-align: center;
    margin-bottom: 1rem;
}

#loginForm {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
    margin: 0.5rem;
    align-content: center;
}

.loginpopup label {
    text-align: end;
}



#closepopup {
    height: 1.4rem;
    width: 1.4rem;
    margin: 5px 0px 0 5px;
    border: 0px;
    font-size: 1.2rem;
    background-color: #f0f2f5;
    cursor: pointer;
}

#closepopup:hover {
    background-color: rgb(218, 0, 0);
    color: white;
}

#loginForm button {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    width: 25%;
    justify-self: center;
    cursor: pointer;
    height: 2rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:  #1a73e8;
    font-size: 1.2rem;
}

#loginForm button:hover {
    background-color: #001535;
}


/* Responsive Design */
@media only screen and (max-width: 768px) {

    header h1 {
        font-size: 2rem;
    }

    .box {
        flex-wrap: wrap;
    }


}

@media only screen and (max-width: 835px) {

    .loginpopup {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .loginpopup p {
        margin-top: 20%;
    }

}